/gtk-3.0/
/gtk-4.0/
!/gtk-3.0/gtk.css
!/gtk-3.0/settings.ini
!/gtk-4.0/gtk.css
!/gtk-4.0/settings.ini
/sway/wallpaper.png
/sway/wallpaper.jpg
/swaylock/logo.png
/swaylock/logo.jpg
/Thunar/accels.scm
/Thunar/renamerrc
