@import ".config/waybar/themes/base16-oceanicnext.css";

window {
    margin: 0px;
    border: 2px solid @base0D;
    border-radius: 4px;
    background-color: @base00;
}

#outer-box {
    margin: 8px;
    border: none;
    background-color: @base00;
    padding-bottom: 0px;
}

#input {
    margin: 8px 4px 4px 4px;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    color: @base06;
    background-color: @base01;
}

#scroll {
    margin: 4px 0px 4px 0px;
    border: none;
}

#inner-box {
    margin: 4px;
    border: none;
    background-color: @base00;
}

#text {
    margin: 4px;
    border: 2px solid transparent;
    color: @base03;
    background-color: transparent;
}

#entry:selected {
    background-color: @base01;
    border-radius: 4px;
}

#entry list {
    border-radius: 4px;
}

#text:selected {
    color: @base05;
    background-color: transparent;
}
