# Default Behaviour
*               text=auto
*.sh            text eol=lf
/vscodium/*     text eol=lf

# Images
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary

# Documents
*.doc           diff=astextplain
*.DOC           diff=astextplain
*.docx          diff=astextplain
*.DOCX          diff=astextplain
*.dot           diff=astextplain
*.DOT           diff=astextplain
*.pdf           diff=astextplain
*.PDF           diff=astextplain
*.rtf           diff=astextplain
*.RTF           diff=astextplain
