[submodule "fish/fishline"]
	path = fish/plugins/fishline
	url = https://github.com/0rax/fishline
[submodule "fish/virtualfish"]
	path = fish/plugins/virtualfish
	url = https://github.com/adambrenecki/virtualfish
[submodule "fish/plugins/fish-bd"]
	path = fish/plugins/fish-bd
	url = https://github.com/0rax/fish-bd.git
[submodule "fish/plugins/narwhal"]
	path = fish/plugins/narwhal
	url = https://github.com/0rax/narwhal
[submodule "fish/plugins/plugin-grc"]
	path = fish/plugins/plugin-grc
	url = https://github.com/oh-my-fish/plugin-grc.git
