[Desktop Entry]
Name=Beeper
Exec=beeper --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --ozone-platform-hint=auto --no-sandbox %U
Terminal=false
Type=Application
Icon=beeper
StartupWMClass=Beeper
X-AppImage-Version=231109zg8yl8v6s
Comment=Beeper: Unified Messenger
Categories=Utility;
