#!/usr/bin/env pip3 install -r

ipython         # http://ipython.org/
virtualenv      # http://virtualenv.readthedocs.org/
nodeenv         # https://github.com/ekalinin/nodeenv
flake8          # https://flake8.readthedocs.org/
