@import "themes/base16-oceanicnext.css";

* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: Hasklig, forkawesome, 'Hasklug Nerd Font', Hack, monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @base07;
}

tooltip {
    color: @base07;
    background-color: @base00;
    text-shadow: none;
    border: 2px @base0D solid;
    border-radius: 4px;
}

#workspaces {
    border-radius: 4px;
    margin-right: 4px;
}

#workspaces button {
    padding: 8px 8px;
    background-color: @base0D;
    color: @base00;
    transition: none;
}

#workspaces button.focused {
    background-color: @base0A;
    color: @base00;
}

#workspaces button.urgent {
    background-color: @base08;
    color: @base00;
}

#workspaces button.persistent {
    background-color: @base01;
    color: @base04;
}

#workspaces button:hover {
    background: @base03;
    color: @base07;
}

#workspaces button:nth-child(1) {
    border-radius: 4px 0 0 4px;
}

#workspaces button:nth-last-child(1) {
    border-radius: 0 4px 4px 0;
}

#custom-scratchpad,
#mode,
#clock,
#custom-spotify,
#tray,
#idle_inhibitor,
#custom-gammastep,
#custom-system,
#bluetooth,
#network,
#pulseaudio,
#battery {
    padding: 0 12px;
    margin: 0px;
    color: @base07;
    background-color: @base00;
}

#custom-scratchpad {
    border-radius: 4px;
    margin: 0 4px 0 4px;
    background-color: @base02;
}

#mode {
    border-radius: 4px;
    margin: 0 4px 0 4px;
    background-color: @base06;
    color: @base00;
}

#clock {
    border-radius: 4px;
    margin: 0 4px 0 4px;
}

#custom-spotify {
    border-radius: 4px;
    margin: 0 4px 0 4px;
    background-color: @base06;
    color: @base00;
}

#tray {
    border-radius: 4px;
    margin: 0 4px 0 4px;
}

#idle_inhibitor {
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 14px;
    border-radius: 4px 0 0 4px;
    background-color: @base01;
}

#idle_inhibitor.deactivated {
    color: @base03;
}

#custom-gammastep {
    background-color: @base02;
}

#custom-gammastep.disabled {
    color: @base04;
}

#custom-gammastep.daytime {
    padding-left: 11px;
    padding-right: 13px;
}

#custom-system {
    background-color: @base0C;
    /* background-color: @base09; */
    color: @base00;
}

#custom-system.critical {
    background-color: @base09;
}

#bluetooth {
    background-color: @base0D;
    color: @base00;
}

#network {
    background-color: @base07;
    color: @base00;
}

#network.disconnected {
    background-color: @base08;
    color: @base00;
}

#pulseaudio {
    background-color: @base0A;
    color: @base00;
}

#pulseaudio.muted {
    background-color: @base04;
    color: @base00;
}

#battery {
    background-color: @base0B;
    color: @base00;
    border-radius: 0 4px 4px 0;
}

#battery.warning:not(.charging) {
    background-color: @base09;
    color: @base00;
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: @base00;
}

#battery.charging {
    background-color: @base0B;
    color: @base00;
}

/* Hide some module on 2nd screen */
window.DP-3 #custom-spotify,
window.DP-3 #clock,
window.DP-5 #custom-spotify,
window.DP-5 #clock,
window.DP-7 #custom-spotify,
window.DP-7 #clock {
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
