"*":
  Zen:
    fullscreen: false
    showWordCount: "Right"
    width: 100
  "accents-ui":
    accentColor: "#6398cc"
    hexColor: "#6398cc"
    useSyntax: false
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Ocean"
  blame: {}
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.shell": [
        "APKBUILD"
        "functions"
      ]
    disabledPackages: [
      "metrics"
      "keybinding-resolver"
      "language-latex"
      "latex"
      "latexer"
      "linter-chktex"
    ]
    ignoredNames: [
      ".vagrant"
      ".git"
      ".hg"
      ".svn"
      ".DS_STORE"
      "._*"
      "Thumbs.db"
      ".tags*"
      ".DS_Store"
      "*.synctex.gz"
      "*.aux"
      "*.out"
      "*.lof"
      "*.lol"
      "*.lot"
      "*.dvi"
      "*.fdb*"
      "*.fls"
      "*.toc"
    ]
    packagesWithKeymapsDisabled: [
      "flex-tool-bar"
      "blame"
    ]
    projectHome: "/home/orax/Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
    titleBar: "custom"
    warnOnLargeFileLimit: 5
  editor:
    autoIndent: false
    fontFamily: "Monofur"
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "env-from-shell":
    autoRun: true
    variables: [
      "PATH"
      "GOPATH"
    ]
  "exception-reporting":
    userId: "531ef7d2-ff19-b6eb-2128-6183c169ebf1"
  "file-icons":
    coloured: false
  "flex-tool-bar":
    showConfigButton: false
  "git-projects":
    ignoredPath: "/Users/orax/Projects/Go/;/Users/orax/Projects/GHSave;/Users/orax/Projects/BBSave;/Users/orax/Projects/Old"
    maxDepth: 3
    rootPath: "/Users/orax/Projects"
  "go-config":
    gopath: "/Users/orax/Projects/Go"
  "go-debug":
    limitCommandsToGo: true
  "go-outline":
    showTests: false
  "go-plus":
    config:
      gopath: "/Users/orax/Projects/Go"
    currentPanelHeight: "25vh"
    currentPanelWidth: "24vw"
    disabledBundledPackages: [
      "go-debug"
      "go-signature-statusbar"
    ]
    panel:
      currentHeight: "20vh"
      displayMode: "closed"
    panelDisplayMode: "closed"
    panelOrientation: "vertical"
    showPanelWhenNoIssuesExist: false
  gofmt:
    formatTool: "goreturns"
  "highlight-column":
    opacity: 1
  "highlight-line":
    hideHighlightOnSelect: true
  latex:
    alwaysOpenResultInAtom: true
    enableShellEscape: true
    enableSynctex: false
  linter: {}
  "linter-chktex":
    executablePath: "/Library/TeX/texbin/chktex"
  "linter-clang":
    clangDefaultCFlags: "-Wall -fsytanx-only"
    clangDefaultCppFlags: "-Wall -std=c++11 -fsytanx-only"
  "linter-flake8":
    executableDir: "/Users/orax/Library/Python/3.5/bin/"
  "linter-ui-default":
    gutterPosition: "Left"
    hidePanelWhenEmpty: true
    panelHeight: 67
    showPanel: true
    statusBarRepresents: "Entire Project"
  "linter-write-good":
    additionalArgs: "--no-passive"
    severityLevel: "Warning"
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    tabSizing: "Maximum"
  "pdf-view":
    enableSyncTeX: false
  pigments: {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#2d2d2d"
        blue: "#6699cc"
        cyan: "#66cccc"
        green: "#99cc99"
        magenta: "#cc99cc"
        red: "#f2777a"
        white: "#f2f0ec"
        yellow: "#ffcc66"
      zBright:
        brightBlack: "#2d2d2d"
        brightBlue: "#6699cc"
        brightCyan: "#66cccc"
        brightGreen: "#99cc99"
        brightMagenta: "#cc99cc"
        brightRed: "#f2777a"
        brightWhite: "#f2f0ec"
        brightYellow: "#ffcc66"
    core: {}
    iconColors:
      blue: "#6699cc"
      cyan: "#66cccc"
      green: "#99cc99"
      magenta: "#cc99cc"
      orange: "#f99157"
      pink: "#f386a1"
      purple: "#8868b3"
      red: "#f2777a"
      yellow: "#ffcc66"
    style:
      animationSpeed: 2
      defaultPanelHeight: "25%"
      fontFamily: "monofur for Powerline"
      fontSize: "12"
    toggles:
      autoClose: true
  "project-plus":
    projectHome: "/Users/orax/Projects"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
      "text.html.basic"
    ]
  "status-bar": {}
  "todo-show":
    openListInDirection: "ontop"
    sortAscending: false
    sortBy: "Path"
    statusBarIndicator: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  "tree-view-git-status":
    showCommitsAheadLabel: false
    showCommitsBehindLabel: false
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    groupChangesWhenLeavingInsertMode: false
    highlightSearch: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
      "latex"
    ]
    goalLineHeight: "0%"
  zentabs:
    maximumOpenedTabs: 10
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".basic.html.text":
  editor:
    tabLength: 2
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".coffee.source":
  editor:
    tabLength: 2
".cson.source":
  editor:
    tabLength: 2
".csv.semicolon.text":
  editor:
    autoIndent: false
".csv.text":
  editor:
    autoIndent: false
".diff.source":
  editor:
    tabLength: 4
".fish.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    tabLength: 4
".html.text.vue":
  editor:
    tabLength: 4
".json.source":
  editor:
    tabLength: 2
".latex.log.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".lua.source":
  editor:
    tabLength: 2
".makefile.source":
  editor:
    tabLength: 8
".patch.source":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
".solidity.source":
  editor:
    tabLength: 4
".source.toml":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
".tex.text":
  editor:
    tabLength: 4
