"*":
  Zen:
    fullscreen: false
    showWordCount: "Right"
    width: 100
  "accents-ui":
    accentColor: "#6699cc"
    hexColor: "#6699cc"
    useSyntax: false
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Eighties"
  blame: {}
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "rgba(255, 255, 255, 0.3)"
        borderStyle: "none"
        borderWidth: 0
      blinkOn:
        backgroundColor: "rgba(255, 255, 255, 0.15)"
        borderStyle: "none"
        borderWidth: 0
        pulseDuration: 0
      cursorLineFix: true
      scopes: [
        "*"
      ]
      selector: "atom-text-editor"
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.shell": [
        "APKBUILD"
        "functions"
      ]
    disabledPackages: [
      "keybinding-resolver"
      "metrics"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".vagrant"
      ".git"
      ".hg"
      ".svn"
      ".DS_STORE"
      "._*"
      "Thumbs.db"
      ".tags*"
      ".DS_Store"
      "*.synctex.gz"
      "*.aux"
      "*.out"
      "*.lof"
      "*.lol"
      "*.lot"
      "*.dvi"
      "*.fdb*"
      "*.fls"
      "*.toc"
    ]
    packagesWithKeymapsDisabled: [
      "terminal-plus"
      "flex-tool-bar"
      "blame"
      "go-config"
      "markdown-toc"
    ]
    projectHome: "/home/orax/Projects"
    telemetryConsent: "no"
    themes: [
      "accents-ui"
      "base16-syntax"
    ]
  "custom-folds":
    postfix: "`"
    prefix: "`"
  editor:
    autoIndent: false
    fontFamily: "Monofur"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "env-from-shell":
    autoRun: true
    variables: [
      "PATH"
      "GOPATH"
    ]
  "exception-reporting":
    userId: "531ef7d2-ff19-b6eb-2128-6183c169ebf1"
  "file-icons":
    coloured: false
  "flex-tool-bar":
    reloadToolBarWhenEditConfigFile: false
    showConfigButton: false
  "git-projects":
    ignoredPath: "/Users/orax/Projects/Go/;/Users/orax/Projects/GHSave;/Users/orax/Projects/BBSave;/Users/orax/Projects/Old"
    maxDepth: 3
    rootPath: "/Users/orax/Projects"
  "go-config":
    gopath: "/Users/orax/Projects/Go"
  "go-debug":
    limitCommandsToGo: true
    panelInitialVisible: false
  "go-outline":
    showTests: false
  "go-plus":
    currentPanelHeight: "21.047619047619047vh"
    showPanelWhenNoIssuesExist: true
  gofmt:
    formatTool: "goreturns"
  "highlight-column":
    lineMode: true
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
    enableUnderline: true
  latex:
    alwaysOpenResultInAtom: true
    enableShellEscape: true
    enableSynctex: false
  linter:
    gutterEnabled: false
  "linter-chktex":
    executablePath: "/Library/TeX/texbin/chktex"
  "linter-clang":
    clangDefaultCFlags: "-Wall -fsytanx-only"
    clangDefaultCppFlags: "-Wall -std=c++11 -fsytanx-only"
  "linter-flake8":
    executableDir: "/Users/orax/Library/Python/3.5/bin/"
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "pdf-view":
    enableSyncTeX: false
  pigments: {}
  "project-plus":
    projectHome: "/Users/orax/Projects"
  "spell-check":
    grammars: [
      "text.tex.latex"
      "source.gfm"
      "text.plain"
      "text.html.basic"
    ]
  "terminal-plus":
    ansiColors:
      normal:
        black: "#2d2d2d"
        blue: "#6699cc"
        cyan: "#66cccc"
        green: "#99cc99"
        magenta: "#cc99cc"
        red: "#f2777a"
        white: "#f2f0ec"
        yellow: "#ffcc66"
      zBright:
        brightBlack: "#2d2d2d"
        brightBlue: "#6699cc"
        brightCyan: "#66cccc"
        brightGreen: "#99cc99"
        brightMagenta: "#cc99cc"
        brightRed: "#f2777a"
        brightWhite: "#f2f0ec"
        brightYellow: "#ffcc66"
    core:
      shell: "/usr/local/bin/fish"
    iconColors:
      blue: "#6699cc"
      cyan: "#66cccc"
      green: "#99cc99"
      magenta: "#cc99cc"
      orange: "#f99157"
      pink: "#b3588e"
      purple: "#6c71c4"
      red: "#f2777a"
      yellow: "#ffcc66"
    style: {}
    toggles:
      autoClose: true
  "todo-show":
    statusBarIndicator: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
      "latex"
    ]
    goalLineHeight: "0%"
".basic.html.text":
  editor:
    tabLength: 2
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".coffee.source":
  editor:
    tabLength: 2
".cson.source":
  editor:
    tabLength: 2
".diff.source":
  editor:
    tabLength: 4
".fish.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    tabLength: 2
".html.text.vue":
  editor:
    tabLength: 4
".json.source":
  editor:
    tabLength: 2
".latex.log.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".makefile.source":
  editor:
    tabLength: 8
".patch.source":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
".solidity.source":
  editor:
    tabLength: 4
".source.toml":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
".tex.text":
  editor:
    tabLength: 4
