"*":
  Zen:
    fullscreen: false
    showWordCount: "Right"
    width: 100
  "accents-ui":
    accentColor: "#6398cc"
    hexColor: "#6398cc"
    useSyntax: false
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Eighties"
  blame: {}
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.shell": [
        "APKBUILD"
        "functions"
      ]
    disabledPackages: [
      "metrics"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".vagrant"
      ".git"
      ".hg"
      ".svn"
      ".DS_STORE"
      "._*"
      "Thumbs.db"
      ".tags*"
      ".DS_Store"
      "*.synctex.gz"
      "*.aux"
      "*.out"
      "*.lof"
      "*.lol"
      "*.lot"
      "*.dvi"
      "*.fdb*"
      "*.fls"
      "*.toc"
    ]
    packagesWithKeymapsDisabled: [
      "terminal-plus"
      "flex-tool-bar"
      "blame"
      "markdown-toc"
    ]
    projectHome: "/home/orax/Projects"
    telemetryConsent: "no"
    themes: [
      "accents-ui"
      "base16-syntax"
    ]
    warnOnLargeFileLimit: 64
  editor:
    autoIndent: false
    fontFamily: "Monofur"
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "env-from-shell":
    autoRun: true
    variables: [
      "PATH"
      "GOPATH"
    ]
  "exception-reporting":
    userId: "531ef7d2-ff19-b6eb-2128-6183c169ebf1"
  "file-icons":
    coloured: false
  "flex-tool-bar":
    reloadToolBarWhenEditConfigFile: false
    showConfigButton: false
  "git-projects":
    ignoredPath: "/Users/orax/Projects/Go/;/Users/orax/Projects/GHSave;/Users/orax/Projects/BBSave;/Users/orax/Projects/Old"
    maxDepth: 3
    rootPath: "/Users/orax/Projects"
  "go-config":
    gopath: "/Users/orax/Projects/Go"
  "go-debug":
    limitCommandsToGo: true
  "go-outline":
    showTests: false
  "go-plus":
    currentPanelHeight: "25vh"
    disabledBundledPackages: [
      "go-debug"
    ]
    panelDisplayMode: "closed"
    panelOrientation: "vertical"
    showPanelWhenNoIssuesExist: true
  gofmt:
    formatTool: "goreturns"
  "highlight-column":
    opacity: 1
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
    hideHighlightOnSelect: true
  latex:
    alwaysOpenResultInAtom: true
    enableShellEscape: true
    enableSynctex: false
  linter:
    gutterEnabled: false
    showErrorPanel: false
  "linter-chktex":
    executablePath: "/Library/TeX/texbin/chktex"
  "linter-clang":
    clangDefaultCFlags: "-Wall -fsytanx-only"
    clangDefaultCppFlags: "-Wall -std=c++11 -fsytanx-only"
  "linter-flake8":
    executableDir: "/Users/orax/Library/Python/3.5/bin/"
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "pdf-view":
    enableSyncTeX: false
  pigments: {}
  "platformio-ide-terminal":
    core:
      shell: "/usr/local/bin/bash"
    style:
      animationSpeed: 2
      defaultPanelHeight: "25%"
    toggles:
      autoClose: true
  "project-plus":
    projectHome: "/Users/orax/Projects"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
      "text.html.basic"
    ]
  "todo-show":
    statusBarIndicator: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    groupChangesWhenLeavingInsertMode: false
    highlightSearch: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
      "latex"
    ]
    goalLineHeight: "0%"
  zentabs:
    maximumOpenedTabs: 10
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".basic.html.text":
  editor:
    tabLength: 2
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".coffee.source":
  editor:
    tabLength: 2
".cson.source":
  editor:
    tabLength: 2
".csv.semicolon.text":
  editor:
    autoIndent: false
".csv.text":
  editor:
    autoIndent: false
".diff.source":
  editor:
    tabLength: 4
".fish.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    tabLength: 4
".html.text.vue":
  editor:
    tabLength: 4
".json.source":
  editor:
    tabLength: 2
".latex.log.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".makefile.source":
  editor:
    tabLength: 8
".patch.source":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
".solidity.source":
  editor:
    tabLength: 4
".source.toml":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
".tex.text":
  editor:
    tabLength: 4
