# # Save
# 'body':
#   'ctrl-p':       'fuzzy-finder:toggle-file-finder'
#   'ctrl-b':       'fuzzy-finder:toggle-buffer-finder'
# 'atom-workspace':
#   'ctrl-g l':      'go-to-line:toggle'
#   'ctrl-g f':      'fuzzy-finder:toggle-file-finder'
#   'ctrl-g b':      'fuzzy-finder:toggle-buffer-finder'
#   'shift-F11':     'zen:toggle'
# 'atom-workspace atom-text-editor:not([mini])':
#   'cmd-r':        'symbols-view:toggle-file-symbols'
#   'alt-right':    'symbols-view:go-to-declaration'
#   'alt-left':     'symbols-view:return-from-declaration'
#   'shift-cmd-R':  'symbols-view:toggle-project-symbols'

# Split Pane
'body':
  'ctrl-k down':  'pane:split-down'
  'ctrl-k up':    'pane:split-up'
  'ctrl-k right': 'pane:split-right'
  'ctrl-k left':  'pane:split-left'
  'cmd-\\':       'tree-view:toggle'
  'cmd-\'':       'minimap:toggle'

# Editor
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-up':      'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-down':    'editor:move-to-beginning-of-next-paragraph'
  'cmd-alt-down': 'editor:move-line-down'
  'cmd-alt-up':   'editor:move-line-up'
  'ctrl-,':       'editor:toggle-line-comments'
# Linter
  'alt->':        'linter:next-message'
  'alt-<':        'linter:previous-message'

# Build & Preview
'atom-workspace atom-text-editor[data-grammar~="latex"]':
  'ctrl-shift-m': 'latex:build'
  'ctrl-alt-b':   'editor:move-to-previous-subword-boundary'
# 'atom-workspace atom-text-editor[data-grammar~="gfm"]':
#   'ctrl-shift-m': 'markdown-preview-plus:toggle'

# Terminal-Plus
'atom-workspace':
  'ctrl-`':       'terminal-plus:toggle'
'.platform-darwin atom-workspace':
  'cmd-shift-j':  'terminal-plus:prev'
  'cmd-shift-k':  'terminal-plus:next'
'.terminal-plus .terminal':
  'cmd-c':        'terminal-plus:copy'
  'cmd-v':        'terminal-plus:paste'
  'cmd-n':        'terminal-plus:new'
  'cmd-shift-j':  'terminal-plus:prev'
  'cmd-shift-k':  'terminal-plus:next'
