##### Save
# # symbols-view
# 'atom-workspace atom-text-editor:not([mini])':
#   'cmd-r':        'symbols-view:toggle-file-symbols'
#   'alt-right':    'symbols-view:go-to-declaration'
#   'alt-left':     'symbols-view:return-from-declaration'
#   'shift-cmd-R':  'symbols-view:toggle-project-symbols'

# UI
'body':
  'cmd-\\':       'tree-view:toggle'
  'cmd-\'':       'minimap:toggle'

# Editor
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-up':      'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-down':    'editor:move-to-beginning-of-next-paragraph'
  'cmd-alt-down': 'editor:move-line-down'
  'cmd-alt-up':   'editor:move-line-up'
  'ctrl-,':       'editor:toggle-line-comments'
# Linter
  'alt->':        'linter-ui-default:next'
  'alt-<':        'linter-ui-default:previous'
  'f6':           'linter-ui-default:next'
  'f5':           'linter-ui-default:previous'

# Build & Preview
'atom-workspace atom-text-editor[data-grammar~="latex"]':
  'ctrl-shift-m': 'latex:build'
  'ctrl-alt-b':   'editor:move-to-previous-subword-boundary'
'atom-workspace atom-text-editor[data-grammar~="gfm"]':
  'ctrl-shift-m': 'markdown-preview-plus:toggle'
