// Font Size
html, body, .tree-view, .status-bar,
.tab-bar .tab, .settings-view .settings-panel label,
.settings-view .setting-description, .form-control {
    font-size: 13px;
}
// Disable Editor Scrollbar
atom-text-editor .vertical-scrollbar,
atom-text-editor.editor .vertical-scrollbar,
atom-text-editor .horizontal-scrollbar,
atom-text-editor.editor .horizontal-scrollbar {
    opacity: 0;
    width: 0;
}
// Disable Tree-View Scrollbar
.tree-view-scroller::-webkit-scrollbar {
    display: none;
}
// Deactivate some plugin view when in Zen mode
[data-zen="true"] {
    // Hide everything but Zen button in Zen Mode
    .tool-bar {
        .tool-bar-btn {
            display: none;
        }
        .tool-bar-btn.ion-leaf {
            display: block;
        }
        .tool-bar-spacer {
            display: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        z-index: 1;
        background-color: transparent !important;
    }
}

// ===================== Accents UI + Base16 (Eighties) ===================== //

// @accent: #c30909;
@accent: #6699cc;
@accent-alternate: darken(@accent, 6%);
atom-text-editor.editor {
    .wrap-guide {
        background-color: @accent;
    }
    .line.highlight-line {
        background: #393d45;
    }
    .line.highlight-line-multi-line-solid-bottom {
        border-bottom-color: @accent-alternate;
     }
    .line.highlight-line-multi-line-solid-top {
        border-top-color: @accent-alternate;
     }
    .line-number.cursor-line-no-selection {
        border-bottom: solid 1px @accent-alternate;
        border-top: none;
    }
    .line-number.cursor-line {
        background: rgba(255,255,255,0.05) !important;
    }
    .line-number{
        background: rgba(0,0,0,0.20) !important;
    }
    .selection .region {
        background: rgba(255,255,255,0.10) !important;
    }
}
// Minimap Background Color
atom-text-editor.editor atom-text-editor-minimap,
atom-text-editor atom-text-editor-minimap {
    background-color: #1e1e1e;
}
// Minimap Visible Area Color
atom-text-editor.editor atom-text-editor-minimap .minimap-visible-area,
atom-text-editor atom-text-editor-minimap .minimap-visible-area {
    background: rgba(255,255,255, 0.4) !important;
}
[data-zen="true"] {
    atom-workspace, atom-panel.left {
        background-color: #272727;
    }
    .tool-bar {
        background-color: #272727;
        border: transparent 0 solid !important;
    }
}
.tool-bar {
    background-color: #333333;
    border: #1e1e1e 2px solid;
    border-radius: 3px;
    button.tool-bar-btn {
        background-color: inherit;
    }
    button.tool-bar-btn.disabled:hover {
        background-color: inherit;
        color: @accent-alternate;
    }
    button.tool-bar-btn:hover {
        background-color: inherit;
        color: @accent;
    }
    hr.tool-bar-spacer {
        border-color: #1e1e1e !important;
        -webkit-mask-image: none !important;
        width: 38px !important;
        margin: 0 0px !important;
    }
}
// Make the tab-bar smaller
.tab-bar {
    height: 40px;
    .tab {
        line-height: 36px;
        border-bottom-width: 3px;
        &.modified:not(:hover) .close-icon, &.modified:hover .close-icon {
            top: 16px;
        }
    }
}
// Remove the level separators in tree-vie
.list-tree ol.entries.list-tree::before {
    display: none;
}
// Change space before new nested group in Tree-View
.list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
.list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 12px;
}
