[
  {
    type: "button"
    icon: "fireball"
    iconset: "ion"
    disable: ""
    hide: [
      "markdown",
      "latex",
      "go"
    ]
  }
  {
    type: "button"
    icon: "text-shadow"
    iconset: "mdi"
    callback: [
      "latex:build"
    ]
    show: "latex"
  }
  {
    type: "button"
    icon: "markdown"
    callback: [
      "markdown-preview-plus:toggle"
    ]
    show: "markdown"
  }
  {
    type: "button"
    icon: "code"
    callback: [
      "golang:toggle-panel"
    ]
    show: "go"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "terminal"
    callback: [
      "platformio-ide-terminal:toggle"
    ]
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "repo"
    callback: [
      "application:add-project-folder"
    ]
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "android-checkbox-outline"
    iconset: "ion"
    callback: [
      "todo-show:find-in-project"
    ]
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "github"
    iconset: "fa"
    callback: [
      "github:toggle-git-tab"
    ]
  }
  {
    type: "button"
    icon: "code-fork"
    iconset: "fa"
    callback: [
      "git-blame:toggle"
    ]
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "leaf"
    iconset: "ion"
    callback: [
      # "zen:toggle"
      "vim-mode-plus:maximize-pane"
    ]
  }
  {
    type: "button"
    icon: "arrow-expand"
    callback: "window:toggle-full-screen"
    tooltip: "Toggle Fullscreen"
    iconset: "ion"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "list-unordered"
    callback: "tree-view:toggle"
    tooltip: "Toggle Sidebar"
  }
  {
    type: "button"
    icon: "android-map"
    callback: "minimap:toggle"
    tooltip: "Toggle Minimap"
    iconset: "ion"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "cogs"
    callback: "settings-view:open"
    tooltip: "Settings View"
    iconset: "fa"
  }
]
