!.gitignore
fish_history
fishd.*
functions/*.fish
functions/*.awk
completions/*.fish
conf.d/*.fish
!conf.d/[1-9][0-9]-*.fish
!functions/fish_*.fish
!functions/fisher.fish
!completions/fisher.fish
!functions/clean.fish
!functions/emacs_connect.fish
!functions/start_gpg_agent.fish
!functions/__narwhal_*.fish
!functions/narwhal.fish
!functions/bd.fish
!completions/narwhal.fish
!completions/bd.fish
