/* ==UserStyle==
@name           Github: Wider Project Columns
@namespace      https://github.com/0rax
@version        1.1.0
@description    Bigger collum in Github Projects
@author         0rax
@homepageURL    https://github.com/0rax/dotfiles/tree/master/firefox/stylus
@updateURL      https://raw.githubusercontent.com/0rax/dotfiles/master/firefox/stylus/gh-wider-project.css
@var            number  column-width        "Column Width"  450
==/UserStyle== */

@-moz-document regexp("https://github.com/(orgs|[a-zA-Z0-9_-]+)/[a-zA-Z0-9_-]+/projects/[0-9]+(#.*)?(\\?fullscreen=true)?")
{
  @media (min-width: 544px) {
    .project-column {
      min-width: calc(var(--column-width) * 1px);
      max-width: calc(var(--column-width) * 1px);
    }
    .project-pane {
      width: calc(var(--column-width) + 20px) !important;
    }
  }
}
