/* ==UserStyle==
@name           Hacker News: Fixed & Spaced
@namespace      https://github.com/0rax
@version        1.1.0
@description    Customize the background color and width of Hacker News
@author         0rax
@homepageURL    https://github.com/0rax/dotfiles/tree/master/firefox/stylus
@updateURL      https://raw.githubusercontent.com/0rax/dotfiles/master/firefox/stylus/hn-fixed-spaced.css
@var            color   background-color    "Background Color"  #333
@var            text    content-width       "Content Width"     "900px"
==/UserStyle== */
@-moz-document domain("news.ycombinator.com") {
  body {
    margin-top: 36px;
    margin-bottom: 36px;
    background: var(--background-color);
  }
  #hnmain {
    width: var(--content-width) !important;
  }
  .itemlist {
    margin: 10px;
  }
}
