[Unit]
Description=Display colour temperature adjustment
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/gammastep
Restart=on-failure

[Install]
WantedBy=sway-session.target
