[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 600 'swaylock' \
    timeout 900 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' \
    timeout 30 'if pgrep swaylock; then swaymsg "output * dpms off"; fi' \
    resume 'if pgrep swaylock; then swaymsg "output * dpms on"; fi' \
    before-sleep 'swaylock'
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
